body{
    font-family: sans-serif;
    margin: 0 50px;
    background-color: dodgerblue;
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
     height: 80vh;
     color: rgb(34, 29, 102);
     
}
#post{
    width: 400px;
}
 i{
    cursor: pointer;
}
#posts div{
     display: block;
    align-items: center;
    justify-content: space-between;
     
    
}
.options{
  display: flex;
  gap: 15px;

}
#msg{
    color: #cc2311;
}